<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Parcial 01
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngFor = "let equipo of equipos">
    <ion-card>
   <img src = {{equipo.escudo}}>
   {{equipo.nombre}}
  </ion-card>

  </ion-item>
</ion-content>
